<template>
    <div class="openSource">
        <div class="box">
            <div class="content">
                <p> Projects I have contributed to.</p>
            </div>
        </div>
        <div class="box">
            <div class="columns">
                <div class="column"
                v-for="(project,index) in projects"
                :key="index">
                    <project-item
                    :="project"
                    ></project-item>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import OpenSourceData from '../assets/openSource'
import ProjectsItem from '../components/ProjectsItem.vue'
export default {
    name:'OpenSource',
    components:{
        'project-item':ProjectsItem,
    },
    data(){
        return{
            projects:OpenSourceData
        }
    },
    created(){
        document.title = "Open Source"
    }
}
</script>